#menu {
  width: var(--panel-width);
  border: none;
  padding-top: 0;

  .divider {
    margin: 5px 0;
    height: 1px;
    background: var(--divider);
  }

  a,
  a:link,
  a:active,
  a:focus,
  a:visited {
    display: block;
    line-height: 31px;
    padding-left: 47px;
    padding-right: 10px;

    span {
      display: table;
      min-width: 60%;
    }

    svg.pin,
    svg.unpin {
      position: absolute;
      display: none;
      left: 14px;
      width: 17px;
      height: 17px;
      top: 6px;
      cursor: pointer;

      path {
        transition: all 0.1s;
      }
    }

    svg.pin path {
      fill: var(--inactive-icon);
    }

    svg.unpin {
      display: inline-block;

      path {
        fill: var(--pin-color);
      }
    }
  }

  #pinned {
    padding-top: 6px;

    a,
    a:link,
    a:active,
    a:focus,
    a:visited {
      line-height: 27px;
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
      cursor: move;
      span {
        cursor: default
      }
      svg.pin {
        top: 4px;
        cursor: pointer;
      }
    }

    a.before {
      border-top-color: var(--drag-color) !important;
    }

    a.after {
      border-bottom-color: var(--drag-color) !important;
    }
  }

  a:hover {
    background: var(--link-hover-bg);

    svg.pin {
      display: inline-block;
    }

    svg.unpin:hover path {
      fill: var(--unpin-color);
    }
  }

  a:last-child {
    margin-bottom: 6px;
  }
}
