/** Light mode (default) **/
:root {
  --body-bg: #fff;
  --link-color: #222;
  --scrollbar-track: #f3f3f3;
  --scrollbar-thumb: #ccc;
  --scrollbar-thumb-hover: rgba(22, 22, 22, 0.3);
  --scrollbar-border: rgba(0, 0, 0, 0.15);
  --divider: rgba(0, 0, 0, 0.15);
  --link-hover-bg: rgb(235, 235, 235);
  --inactive-icon:#666;
  --panel-width: 280px;
  --scroll-width: 10px;
  --drag-color: #333;
  --pin-color: #4CAF50;
  --unpin-color: #FF5252;
}

/** Dark mode colors **/

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: rgb(41, 42, 45);
    --link-color: #fff;
    --scrollbar-track: var(--body-bg);
    --scrollbar-thumb: #404040;
    --scrollbar-thumb-hover: #484848;
    --divider: #393B3E;
    --scrollbar-border: var(--divider);
    --link-hover-bg: #4B4C4F99;
    --inactive-icon:#999;
    --drag-color: #ccc9;
  }
}
