name: Code Quality

on:
  push:
    branches: [ main ]
    paths: [ src/* ]
  pull_request:
    branches-ignore: [ i18n ]

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: javascript
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3
