name: Docs

on:
  push:
    branches: [ main ]
    paths:
      - src/*
      - docs/*

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - run: |
          python -m pip install --upgrade pip
          pip install -r docs/requirements.txt
      - run: npm ci
      - run: npm run docs
      - run: cd docs && mkdocs gh-deploy --force
