name: Publish

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - run: npm install
      - run: npm run test
      - run: npm run build
      - uses: ncipollo/release-action@v1
        with:
          artifacts: release.zip
